:root
{
    --calcite-ui-brand: #1ea75c;
    --calcite-ui-brand-hover: #1ea75c;
    --calcite-ui-brand-press: #1ea75c;
}

html,
body,
#app,
.muit-content
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.muit-screen-small
{
    font-size: 2em;
}

.muit-screen-large
{
    font-size: 1em;
}

.muit-screen-portrait
{
    display: grid;
    grid-template-areas:
        "BAN"
        "MAP"
        "FIT"
        "WF"
        "MENU";
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr;
}

.muit-screen-landscape
{
    display: grid;
    grid-template-areas:
        "BAN BAN BAN"
        "MENU WF MAP"
        "MENU WF FIT";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px auto 1fr;
}

.muit-panel-banner
{
    grid-area: BAN;
    background-color: #007535;
    color: #ffffff;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}

.muit-panel-menu
{
    grid-area: MENU;
    background-color: #1ea75c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.muit-panel-menu img
{
    height: 25px;
    margin: 10px;
    opacity: 1;
    cursor: pointer;
}

.muit-panel-menu img:hover
{
    opacity: 0.8;
}

.muit-panel-map
{
    grid-area: MAP;
}

.muit-panel-workflow
{
    grid-area: WF;
    background-color: #ffffff;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #d1d1d1;
}

.muit-panel-fit
{
    grid-area: FIT;
    max-height: 300px;
}

.muit-panel-fit table
{
    width: 100%;
    border-collapse: collapse;
}

.muit-panel-fit table th
{
    background-color: #1ea75c;
    color: #ffffff;
    font-weight: normal;
}

.muit-panel-fit table td
{
    padding: 2px 5px;
    text-align: center;
}

.muit-panel-fit table tr:nth-child(odd) td
{
    background-color: #d2edde;
}

.muit-banner-logo
{
    height: 30px;
    margin: auto;
}

.muit-workflow-title
{
    text-align: center;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.muit-workflow-buttons
{
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}

#map
{
    height: 100%;
    width: 100%;
}

.esri-view .esri-view-surface--touch-none:focus::after
{
    outline: none !important;
}