html,
body,
#app,
.muit-content
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.muit-screen-small
{
    font-size: 2em;
}

.muit-screen-large
{
    font-size: 1em;
}

.muit-screen-portrait
{
    display: grid;
    grid-template-areas:
        "BAN"
        "MAP"
        "FIT"
        "WF"
        "MENU";
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr;
}

.muit-screen-landscape
{
    display: grid;
    grid-template-areas:
        "BAN BAN BAN"
        "MENU WF MAP"
        "MENU WF FIT";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto auto 1fr;
}

.muit-panel-banner
{
    grid-area: BAN;
    background-color: rgb(0, 117, 53);
}

.muit-panel-menu
{
    grid-area: MENU;
    background-color: rgb(109, 117, 0);
}

.muit-panel-map
{
    grid-area: MAP;
    background-color: blue;
}

.muit-panel-workflow
{
    grid-area: WF;
    background-color: crimson;
}

.muit-panel-fit
{
    grid-area: FIT;
    background-color: rgb(0, 225, 255);
}