<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>MUIT - Map User Interface Template</title>

        <link rel="icon" href="images/favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://js.arcgis.com/4.27/esri/themes/light/main.css" />
        <link rel="stylesheet" type="text/css" href="https://js.arcgis.com/calcite-components/1.6.1/calcite.css" />
        <link rel="stylesheet" href="css/main.css">

        <script src="https://js.arcgis.com/4.27/"></script>
        <script type="module" src="https://js.arcgis.com/calcite-components/1.6.1/calcite.esm.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div v-bind:class="{ 'muit-content': true, 'muit-screen-small': screen.small, 'muit-screen-large': !screen.small, 'muit-screen-portrait': screen.portrait, 'muit-screen-landscape': !screen.portrait }">
                <div class="muit-panel-banner">
                    <img class="muit-banner-logo" src="images/logo.svg" />
                    <div>GSAA</div>
                </div>
                <div class="muit-panel-menu">
                    <div v-bind:active="activeMenuPanel === 0 ? 1 : 0" v-on:click="activeMenuPanel = 0"><img src="images/want.svg" /></div>     
                    <div v-bind:active="activeMenuPanel === 1 ? 1 : 0" v-on:click="activeMenuPanel = 1"><img src="images/layers.svg" /></div>                    
                    <div v-bind:active="activeMenuPanel === 2 ? 1 : 0" v-on:click="activeMenuPanel = 2"><img src="images/workflow.svg" /></div>
                    <div v-bind:active="showFIT ? 1 : 0" v-on:click="showFIT = !showFIT"><img src="images/fit.svg" /></div>
                </div>
                <div class="muit-panel-map">
                    <div id="map"></div>
                </div>
                <div class="muit-panel-layers" v-if="activeMenuPanel === 0">
                    <div class="muit-workflow-title">I Want To...</div>
                    <div>
                        Nunc nisi leo, mattis a mi vel, sagittis varius dolor. Nullam tincidunt rhoncus orci in dignissim. Donec quis vehicula massa, quis posuere metus. Sed congue hendrerit consectetur. Cras lacinia tempus porttitor. Donec accumsan feugiat libero at ullamcorper. Mauris tincidunt velit non massa iaculis, id gravida lacus placerat. Suspendisse nisi sapien, eleifend sed faucibus ut, euismod id diam.
                    </div>
                </div>
                <div class="muit-panel-layers" v-if="activeMenuPanel === 1">
                    <div class="muit-workflow-title">Layer List</div>
                    <div>
                        Nunc nisi leo, mattis a mi vel, sagittis varius dolor. Nullam tincidunt rhoncus orci in dignissim. Donec quis vehicula massa, quis posuere metus. Sed congue hendrerit consectetur. Cras lacinia tempus porttitor. Donec accumsan feugiat libero at ullamcorper. Mauris tincidunt velit non massa iaculis, id gravida lacus placerat. Suspendisse nisi sapien, eleifend sed faucibus ut, euismod id diam.
                    </div>
                </div>
                <div class="muit-panel-workflow" v-if="activeMenuPanel === 2">
                    <div class="muit-workflow-title">Make A Change</div>
                    <div>
                        Nunc nisi leo, mattis a mi vel, sagittis varius dolor. Nullam tincidunt rhoncus orci in dignissim. Donec quis vehicula massa, quis posuere metus. Sed congue hendrerit consectetur. Cras lacinia tempus porttitor. Donec accumsan feugiat libero at ullamcorper. Mauris tincidunt velit non massa iaculis, id gravida lacus placerat. Suspendisse nisi sapien, eleifend sed faucibus ut, euismod id diam.
                    </div>
                    <div class="muit-workflow-buttons">
                        <calcite-button appearance="outline-fill">Cancel</calcite-button>
                        <calcite-button>Next</calcite-button>
                    </div>
                </div>
                <div class="muit-panel-fit" v-if="showFIT">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Area</th>
                            <th>Land Type</th>
                            <th>Common</th>
                            <th>Shared</th>
                        </thead>
                        <tbody>
                            <tr v-for="i in 10">
                                <td>{{ i }}</td>
                                <td>{{ i * 107 }}</td>
                                <td>Grass Land</td>
                                <td>No</td>
                                <td>Yes</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="js/index.js"></script>
    </body>
</html>